* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.spectral-regular {
    font-family: "Spectral", serif;
    font-weight: 700;
    font-style: normal;
}  

body {
    height: 105vh;
    font-family: Arial, sans-serif;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
}


.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: flex-start;
    padding: 15px 30px;
    z-index: 100;
}

.navbar-left {
    margin-left: 2%;
    display: flex;
    align-items: center;
}

.navbar-logo {
    height: 40px;  
    width: auto;
    transition: transform 0.3s ease; 
    margin-right: 2px; /* space sa logo and opportunity */
}

.navbar-logo:hover {
    transform: scale(1.4);  
}

.navbar .logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-right: 30px; /* space sa opportunity and links */
    cursor: pointer;
}

.navbar-left a {
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
    margin-left: 80px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: lightblue;
}