* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.spectral-regular {
    font-family: "Spectral", serif;
    font-weight: 700;
    font-style: normal;
}  

body {
    height: 105vh;
    font-family: Arial, sans-serif;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}


.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: flex-start;
    padding: 15px 30px;
    z-index: 100;
}

.navbar-left {
    margin-left: 2%;
    display: flex;
    align-items: center;
}

.navbar-logo {
    height: 40px;  
    width: auto;
    transition: transform 0.3s ease; 
    margin-right: 2px; /* space sa logo and opportunity */
}

.navbar-logo:hover {
    transform: scale(1.4);  
}

.navbar .logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-right: 30px; /* space sa opportunity and links */
    cursor: pointer;
}

.navbar-left a {
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
    margin-left: 80px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: lightblue;
}

.background-image {
    position: relative;
    background: url('testbg1.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass-effect {
    background: rgba(0, 0, 0, 0);
    height: 70vh;
    width: 80vw;
    border-radius: 10px;
    padding: 20px;
    margin: 50px 5px;
    text-align: center;
    color: white;
    backdrop-filter: blur(1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
    transition: transform 0.7s ease-in-out;
}
 
.glass-effect h1 {
    margin: 100px 0 10px 0;
    font-size: 3em;
    padding: 10px 0;
    color: #1e6992b6;
    transition: transform 0.5s ease-in-out;
}

.glass-effect:hover{
    transform: scale(1.1);
}

.glass-effect:hover h1{
    color: #1E6992;
}


.glass-effect button {
    background-color: #0d294cc4;
    border: none;
    width: 200px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    letter-spacing: 3px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.glass-effect button:hover {
    background-color: #0d294c;
}

.glass-effect h3 {
    margin: 10px 0 0 0;
    font-size: 2.5em;
    padding: 10px 0;
    color: #ffffff;
}

.glass-effect p {
    margin-bottom: 50px;
    font-size: 1.2em;
    color: #ffffff;
}

.cards-section {
    text-align: center;
    margin: 50px 0;
    color: #1e6992b6;
}

.cards-section h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    transition: transform 0.5s ease-in-out;
}

.cards-section:hover .cs-header{
    transform: scale(1.1);
    color: #1E6992;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 100px;
    margin-top: 20px;
}

.card {
    margin-bottom: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    width: 300px;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h2 {
    font-size: 1.5em;
    margin: 15px 0;
    color: #1e6992b6;
}

.card p {
    padding: 0 15px 15px 15px;
    font-size: 1em;
    color: #333;
    flex-grow: 1;
}

.card:hover {
    transform: scale(1.1);
}

.card:hover h2 {
    color: #1E6992;
}

.testimonials-section {
    padding: 50px 0;
    text-align: center;
    background-color: #D6E5E3;
    color: #1C2735;
}

.testimonials-section h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    transition: transform 0.5s ease-in-out;
}

.testimonials-section:hover h2 {
    color: #45a049;
    transform: scale(1.1);
}

.testimonial-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.testimonial {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    width: 300px;
    padding: 20px;
    transition: transform 0.5s ease-in-out;
}

.testimonial p {
    font-size: 1.2em;
    color: #333;
}

.testimonial:hover p {
    font-weight: bold;
}

.testimonial h3 {
    margin-top: 15px;
    font-size: 1.2em;
    color: #1C2735;
}

.testimonial:hover h3 {
    color: #45a049;
}

.instructors-section {
    text-align: center;
    margin: 50px 0;
    color: #1C2735;
}

.instructors-section:hover .is-header{
    transition: transform 0.5s ease-in-out;
    transform: scale(1.1);
    color: #65c568;
}

.is-header{
    transition: transform 0.5s ease-in-out;
}

.instructors-section h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
}

.instructor-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.instructor {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    width: 250px;
    padding: 20px;
    transition: transform 0.5s ease-in-out;
}

.instructor:hover {
    transition: transform 0.5s ease-in-out;
    transform: scale(1.1);
}



.instructor:hover h2{
    color: #45a049;
}

.instructor img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}

.instructor h2 {
    font-size: 1.5em;
    margin: 15px 0;
    color: #1C2735;
}

.instructor p {
    font-size: 1em;
    color: #333;
}